<!DOCTYPE html>
<html>
<head>
 <title></title>
 <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>
<h1>Arsenii's Database</h1></p>
<p align="center">
 <a href=users >
  <button class=grey style="height:75px;width:150px"><b>Check out the DB!</b></button>
 </a>
</p>
<div class = "develop">
 <img src="https://media.tenor.com/1z5Kf7sE8OQAAAAd/background.gif">
</div>
</body>

</html>
