<!DOCTYPE html>
<html>
<head>
 <h1>I can show you the following people:</h1>
</head>
<body>
<style>

h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
        width: 250px;
        text-align: center;
        border: 2px solid black;
        padding: 15px;

</style>
<table>
  <thead>
    <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Programming language</th>
    </tr>
    </thead>
    <tbody>
     {% for u in data %}
            <tr>
                <td>{{u[0]}}</td>
                <td>{{u[1]}}</td>
                <td>{{u[2]}}</td>
                <td>{{u[3]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href=users >
    <p align="center">
  <button class=grey style="height:40px;width:75px"><b>Add new user</b></button>
    </p></a>
<a href=users >
    <p align="center">
  <button class=grey style="height:40px;width:75px"><b>Edit user</b></button>
    </p></a>
<a href=users >
    <p align="center">
  <button class=grey style="height:40px;width:75px"><b>Delete user</b></button>
    </p></a>
</body>
</html>
